@model EarthML.Web.Front.Areas.Blog.ArticleModel

@{

    ViewData["Title"] = Model.Metadata.Title;
    var request = Url.ActionContext.HttpContext.Request;

    var deeplink = string.Concat(
                        request.Scheme,
                        "://",
                        request.Host.ToUriComponent(),
                        request.PathBase.ToUriComponent(),
                        request.Path.ToUriComponent(),
                        request.QueryString.ToUriComponent());

    var shareText = $"EarthML - {@Model.Metadata.Title}";
}


@section RequireJsDeps {"libs/EarthML/Blog/index"}

<svg class="hidden">
    <defs>
        <symbol id="icon-triangle" viewBox="0 0 24 24">
            <title>triangle</title>
            <path d="M4.5,19.8C4.5,19.8,4.5,19.8,4.5,19.8V4.2c0-0.3,0.2-0.5,0.4-0.7c0.2-0.1,0.5-0.1,0.8,0l13.5,7.8c0.2,0.1,0.4,0.4,0.4,0.7c0,0.3-0.2,0.5-0.4,0.7L5.7,20.4c-0.1,0.1-0.3,0.1-0.5,0.1C4.8,20.6,4.5,20.2,4.5,19.8z M6,5.6v12.8L17.2,12L6,5.6z"></path>
        </symbol>
    </defs>
</svg>

<div class="article-open container no-cover">
    <div class="hover"></div>
    <article class="article-open-item wrap single-column">
        <header class="article-head">
            <h1 class="graf graf--h3 graf--title">@Model.Metadata.Title</h1>
          
            @if (!String.IsNullOrEmpty(Model.Metadata.Subtitle))
            {
            <h2  lass="graf graf--h4 graf-after--h3 graf--subtitle">@Model.Metadata.Subtitle</h2>
            }



            <div class="article-social-icons">
                <ul>
                    <li class="social-icons-link">
                        <a class="fa fa-twitter" href="https://twitter.com/share?url=@deeplink&amp;text=@shareText" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
                    </li>
                    <li class="social-icons-link">
                        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@deeplink" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="social-icons-link">
                        <a class="fa fa-google-plus" href="https://plus.google.com/share?url=@deeplink" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="social-icons-link linkedin">
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@deeplink" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="social-icons-link reddit">
                        <a class="fa fa-reddit-alien" href="https://reddit.com/submit?url=@deeplink&amp;title=@shareText" onclick="window.open(this.href, 'facebook-share','width=580,height=550');return false;"></a>
                    </li>
                    <li class="social-icons-link">
                        <a class="fa fa-envelope" href="mailto:?subject=@shareText&amp;body=@deeplink"></a>
                    </li>
                </ul>
            </div>
            <span class="article-info">@Model.Metadata.Date</span>
        </header>

        @if (Model.TableOfContent?.Any() ?? false)
        {
        <div class="clamp toc-release">
            <nav id="article-toc" class="toc nav nav--desta">
                 @foreach(var entry in Model.TableOfContent)
                 {
                    <a href="#@entry.Id" class="nav__item @(entry == Model.TableOfContent.First()?"nav__item--current":"")" aria-label="@entry.Title"><svg class="nav__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-triangle"></use></svg><span class="nav__item-title">@entry.Title</span></a>
                 }
                  
            </nav>
        </div>
        }

        <section class="article-content" data-class="bg-color-complement-0">           
               @Html.Raw(Model.MarkdownHtml)   
        </section>


    </article>

    <section data-class="bg-color-complement-1">
        @foreach(var commit in Model.History)
        {
            <div>
                <pre>@Newtonsoft.Json.JsonConvert.SerializeObject(commit,Newtonsoft.Json.Formatting.Indented)</pre>
            </div>

        }
    </section>
</div>



