<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="An open source mapping and algorithm platform for doing machine learning on satellite maps and data. Our APIs and SDKs are the building blocks to extract information from earth observation">
    <title>EarthML | Machine Learning for normal people</title>
    <meta class="swiftype" name="title" data-type="string" content="EarthML">
    <meta class="swiftype" name="type" data-type="enum" content="site">
    <meta class="swiftype" name="excerpt" data-type="string" content="An open source mapping and algorithm platform for doing machine learning on satellite maps and data. Our APIs and SDKs are the building blocks to extract information from earth observation">

    <meta class="swiftype" name="info" data-type="string" content="site">
    <script src="~/libs/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="~/libs/EarthML/content/style.min.css">
    <style>
    </style>
    <script>
        require.config({
            baseUrl: "@Url.Content("/")",
            paths: {
                "css": "libs/requirejs/css",
                "text": "libs/requirejs/text",
                "modernizr": "libs/modernizr/modernizr",
                "nprogress": "libs/nprogress/nprogress",
                "headroom": "libs/headroom/headroom",
                "classie": "libs/classie/classie",
                "class_list_ployfill": "libs/classie/class_list_ployfill"
            },
            shim: {
                "nprogress": {
                    deps: ["css!libs/nprogress/nprogress.css"]
                }    ,
                "modernizr": {
                    exports: "Modernizr"
                }
            },
           

        });

        requirejs.onError = function (err) {
            console.log(err.requireType);
            if (err.requireType === 'timeout') {
                console.log('modules: ' + err.requireModules);
            }

            throw err;
        };


    </script>
</head>

<body class="theme-orange">
    <div class="container">
        <!-- Push Wrapper -->
        <div class="mp-pusher" id="mp-pusher">

            <!-- mp-menu -->
            <nav id="mp-menu" class="mp-menu">
                <div class="mp-level background-primary">
                    <h2 class="icon icon-world">EarthML Overview</h2>
                    <a class="mp-back" href="#">close</a>
                    <ul>
                        <li class="icon icon-arrow-left">
                            <a class="icon icon-news" href="#">Products</a>
                            <div class="mp-level">
                                <h2 class="icon icon-news">Products</h2>
                                <a class="mp-back" href="#">back</a>
                                <ul>
                                    <li><a href="/products/spatialdb">Spatial Database</a></li>
                                    <li><a href="/products">All</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="icon icon-arrow-left">
                            <a class="icon icon-display" href="#">Blog</a>
                            <div class="mp-level">
                                <h2 class="icon icon-display">Blog</h2>
                                <a class="mp-back" href="#">back</a>
                                <ul>
                                    <li class="icon icon-arrow-left">
                                        <a class="icon icon-phone" href="#">Mobile Phones</a>
                                        <div class="mp-level">
                                            <h2>Mobile Phones</h2>
                                            <a class="mp-back" href="#">back</a>
                                            <ul>
                                                <li><a href="#">Super Smart Phone</a></li>
                                                <li><a href="#">Thin Magic Mobile</a></li>
                                                <li><a href="#">Performance Crusher</a></li>
                                                <li><a href="#">Futuristic Experience</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="icon icon-arrow-left">
                                        <a class="icon icon-tv" href="#">Televisions</a>
                                        <div class="mp-level">
                                            <h2>Televisions</h2>
                                            <a class="mp-back" href="#">back</a>
                                            <ul>
                                                <li><a href="#">Flat Superscreen</a></li>
                                                <li><a href="#">Gigantic LED</a></li>
                                                <li><a href="#">Power Eater</a></li>
                                                <li><a href="#">3D Experience</a></li>
                                                <li><a href="#">Classic Comfort</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="icon icon-arrow-left">
                                        <a class="icon icon-camera" href="#">Cameras</a>
                                        <div class="mp-level">
                                            <h2>Cameras</h2>
                                            <a class="mp-back" href="#">back</a>
                                            <ul>
                                                <li><a href="#">Smart Shot</a></li>
                                                <li><a href="#">Power Shooter</a></li>
                                                <li><a href="#">Easy Photo Maker</a></li>
                                                <li><a href="#">Super Pixel</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="icon icon-wallet" href="#">Profile</a></li>
                    </ul>

                </div>
            </nav>
            <!-- /mp-menu -->
            <div class="scroller">
                <!-- this is for emulating position fixed of the nav -->
                <div class="scroller-inner">
                    <main>
                    <header>

                        <div class="contain">
                            <div class="video-background">
                                <img id="video-background-img" src="~/imgs/sea-landscape-mountains-nature@0,25x.jpg" style="position: absolute;left:0;right:0;top:0;bottom:0;width:100%;"
                                     srcset="@Url.Content("~/imgs/sea-landscape-mountains-nature.jpg") 3000w,
                                             @Url.Content("~/imgs/sea-landscape-mountains-nature@0,5x.jpg") 1500w,
                                             @Url.Content("~/imgs/sea-landscape-mountains-nature@0,25x.jpg") 750w" />

                                <div class="video-foreground embed-container loading">
                                    <video style="z-index:-1" autoplay id="bg-player" src="" data-src="@ViewData["video"]"></video>
                                    <!--   <iframe style="z-index:-1" id="bg-player" src="" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>-->
                                </div>
                            </div>

                            <div class="logo-content loading hide-mobile">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.23 42.12">
                                    <polygon class="primary-fill" points="48.36 3.44 44.92 3.44 42.09 0 48.36 0 48.36 3.44" />
                                    <polygon class="primary-fill" points="13.68 0 13.68 3.44 3.42 3.44 0 0 13.68 0" />
                                    <polygon class="primary-fill" points="3.42 8.57 13.68 8.57 13.68 11.99 3.42 11.99 0 11.99 0 8.57 3.42 8.57" />
                                    <polygon class="primary-fill" points="3.42 17.1 13.68 17.1 13.68 20.54 0 20.54 0 20.26 3.42 17.1" />
                                    <path class="primary-fill" d="M21,17.1l-1.75,3.44h-3.8L25.75,0,32.6,13.71H28.75l-3-6-3,6Zm15,3.44H32.19L30.5,17.12h3.8Z" />
                                    <path class="primary-fill" d="M40,13.17l4.21,7.37H40.3l-6-10.3,3.06,0a3.26,3.26,0,0,0,2.39-1,3.26,3.26,0,0,0,1-2.44,3.19,3.19,0,0,0-1-2.39,3.26,3.26,0,0,0-2.39-1H30.54l-.38-.39L28.38,0h9a6.59,6.59,0,0,1,4.83,2,6.63,6.63,0,0,1,2,4.83A6.48,6.48,0,0,1,43,10.71,6.62,6.62,0,0,1,40,13.17Z" />
                                    <path class="primary-fill" d="M59.27,0V3.44H52.44v17.1H49V0Z" />
                                    <path class="primary-fill" d="M72.23,0V20.54H68.82V12H58.55v8.55H55.13V12l3.41-3.44H68.82V0Z" />
                                    <polygon class="primary-fill" points="27.92 21.58 27.92 22.14 27.92 34.03 24.5 37.47 24.5 22.14 24.5 21.58 27.92 21.58" />
                                    <polygon class="primary-fill" points="38.19 38.68 38.19 42.12 24.5 42.12 27.92 38.68 38.19 38.68" />
                                    <polygon class="primary-fill" points="20.57 26.35 10.27 36.7 3.39 29.85 3.39 42.12 0 42.12 0 21.58 10.27 31.85 20.57 21.58 20.57 26.35" />
                                    <polygon class="primary-fill" points="20.57 42.12 17.13 42.12 17.13 34.4 20.57 30.96 20.57 42.12" />
                                </svg>
                            </div>
                            <!--<h1>A world Aflame</h1>-->

                        </div>
                        <div class="scroll-box">
                            <a id="scrollMainContent" href="#"><span class="downwardprompt">▼</span></a>
                        </div>
                        <div class="" style="height: 65px;  position: absolute;   bottom: 0;    left: 0;    right: 0;">

                            <nav class="col12 text-right pad0y contain animate clearfix noprint bg-white">
                                <div class="limiter clearfix">
                                    <a class="fl eml-logo" href="/"><img class="logo" src="~/Artboard 2@1.5x.png" /></a>

                                    <div class="text-right z10 strong small primary hide-mobile space-top0">
                                        <div class="inline align-top">
                                            <div class="inline fl"> <a href="/products/" class="primary-nav-button fl pad1x pad0y round quiet ">Products</a></div>
                                            <div class="inline fl"> <a href="/blog/" class="primary-nav-button fl pad1x pad0y round quiet ">Blog</a></div>
                                            <div class="inline fl"> <a href="/pricing/" class="primary-nav-button fl pad1x pad0y round quiet ">Pricing</a></div>
                                            
                                        </div>
                                    </div>

                                    <div class="show-mobile contain dropdown-container pin-topright">
                                        <a id="trigger" href="#" class="contain z1 big inline menu trigger round quiet dropdown-button js-dropdown-button pin-right"></a>
                                    </div>

                                </div>
                            </nav>

                        </div>

                    </header>
                    <div id="maincontent">
                        @RenderBody()
                    </div>
                  </main>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        require(["nprogress"], function (NProgress) {
            NProgress.configure({ minimum: 0.4 });
            NProgress.start();
                require(["libs/EarthML/index"],
                   function (module) {

                   });
        });
    </script>
</body>
</html>